# *******************************************************************
# CONFIGURATION TEMPLATE (EMBM + GOLDSTEIN + GOLDSTEIN SEA-ICE + ATCHEM + BIOGEM)
# *******************************************************************

# *******************************************************************
# GENIE COMPONENT SELECTION
# *******************************************************************
ma_flag_ebatmos=.TRUE.
ma_flag_goldsteinocean=.TRUE.
ma_flag_goldsteinseaice=.TRUE.
ma_flag_atchem=.TRUE.
ma_flag_biogem=.TRUE.
# *******************************************************************

# *******************************************************************
# GRID CONFIGURATION
# *******************************************************************
# Topography
ma_fname_topo='worjh2'
# Grid resolution of climate components
GENIENXOPTS='-DGENIENX=36'
GENIENYOPTS='-DGENIENY=36'
GENIENLOPTS='-DGENIENL=1'
GENIENXOPTS='$(DEFINE)GENIENX=36'
GENIENYOPTS='$(DEFINE)GENIENY=36'
GOLDSTEINNLONSOPTS='$(DEFINE)GOLDSTEINNLONS=36'
GOLDSTEINNLATSOPTS='$(DEFINE)GOLDSTEINNLATS=36'
GOLDSTEINNLEVSOPTS='$(DEFINE)GOLDSTEINNLEVS=16'
# Topography for climate components
ea_topo='worjh2'
go_topo='worjh2'
gs_topo='worjh2'
# *******************************************************************

# *******************************************************************
# TRACER CONFIGURATION
# *******************************************************************
# Set number of tracers
GOLDSTEINNTRACSOPTS='$(DEFINE)GOLDSTEINNTRACS=19'
# Select tracers
gm_atm_select_3=.true.           # pCO2
gm_atm_select_4=.true.           # pCO2_13C
gm_atm_select_5=.true.           # pCO2_14C
gm_atm_select_6=.true.           # pO2
gm_atm_select_10=.true.          # pCH4
gm_atm_select_11=.true.          # pCH4_13C
gm_atm_select_12=.true.          # pCH4_14C
gm_ocn_select_3=.true.           # DIC
gm_ocn_select_4=.true.           # DIC_13C
gm_ocn_select_5=.true.           # DIC_14C
gm_ocn_select_8=.true.           # PO4
gm_ocn_select_10=.true.          # O2
gm_ocn_select_12=.true.          # ALK
gm_ocn_select_15=.true.          # DOM_C
gm_ocn_select_16=.true.          # DOM_C_13C
gm_ocn_select_17=.true.          # DOM_C_14C
gm_ocn_select_20=.true.          # DOM_P
gm_ocn_select_25=.true.          # CH4
gm_ocn_select_26=.true.          # CH4_13C
gm_ocn_select_27=.true.          # CH4_14C
gm_ocn_select_35=.true.          # Ca
gm_ocn_select_48=.true.          # Color_R
gm_ocn_select_49=.true.          # Color_B
gm_ocn_select_50=.true.          # Mg
gm_sed_select_3=.true.           # POC
gm_sed_select_4=.true.           # POC_13C
gm_sed_select_5=.true.           # POC_14C
gm_sed_select_8=.true.           # POP
gm_sed_select_14=.true.          # CaCO3
gm_sed_select_15=.true.          # CaCO3_13C
gm_sed_select_16=.true.          # CaCO3_14C
gm_sed_select_22=.true.          # det
gm_sed_select_32=.true.          # ash
gm_sed_select_33=.true.          # POC_frac2
gm_sed_select_34=.true.          # CaCO3_frac2
gm_sed_select_36=.true.          # CaCO3_age
# *******************************************************************

# *******************************************************************
# PHYSICAL CLIMATE CONFIGURATION #1: main goin parameters
# *******************************************************************
# temp0
go_10=0.0
# temp1
go_11=0.0
# rel
go_12=0.9000000
# scl_tau / SclTau
go_13=1.531013488769531300
# ocean diffusivites iso (or horiz) / OcnHorizDiff
go_14=1494.4383544921875
# ocean diffusivites dia (or vert) / OcnVertDiff
go_15=0.000025363247914356
# inverse minimum drag in days / InvDrag
go_16=2.7101647853851318
# sea-ice eddy diffusivity / SeaiceDiff
gs_11=3573.718017578125000000
# scl_tau (should be same as GOLDSTEIN's value) / SclTau
ea_11=1.531013488769531300
# atm. diff. amp. for T / AtmDiffAmpT
ea_12=5204945.000000000000000000
# atm. diff. amp. for q / AtmDiffAmpQ
ea_13=1173269.250000000000000000
# dist'n width / AtmDiffWidthT
ea_14=1.410347938537597700
# dist'n slope / AtmDiffSlopeT
ea_15=0.090003050863742828
# atm. advection factor for T_z / AtmAdvectCoeffTm
ea_16=0.001037851092405617
# atm. advection factor for T_m / AtmAdvectCoeffQm
ea_17=0.0000000E+00
# atm. advection factor for q_z / AtmAdvectCoeffQz
ea_18=0.164652019739151000
# atm. advection factor for q_m / AtmAdvectCoeffQz
ea_19=0.164652019739151000
# SclFWF
ea_28=0.726862013339996340
#diffusivity scaling factor
ea_diffa_scl=0.25
#grid point distance over which scalar is applied (j direction)
ea_diffa_len=3
# *******************************************************************

# *******************************************************************
# USER-APPENDED OPTIONS FOLLOW ...
# *******************************************************************
